profiles {
    local {
        executor {
            name = 'local'
			cpus = 2
            memory = '12.GB' // This param is only used by the local executor
            queueSize = 12 // Defines how many processes are queued at a given time
            submitRateLimit = '5 sec' // Determines the max rate of job submission per time unit
            pollInterval = '5 sec' // Determines how often a poll occurs to check for a process termination
    	}
	}	

    slurm {
		executor{
            name = 'slurm'
            //memory = '2G'
			queueSize = 300 //Default value = 100
            submitRateLimit = '100/1min'
            pollInterval = '2 sec'
        }
    }
}

// Nextflow runtime runs on top of the Java virtual machine which, by design, tries to allocate as much memory as is available.
// To avoid this, specify the maximum amount of memory that can be used by the Java VM using the -Xms and -Xmx Java flags (https://www.nextflow.io/blog/2021/5_tips_for_hpc_users.html)

//env {
//        NXF_OPTS="-Xms500M -Xmx2G"
//}

params {
	r_module_load = "module load R/4.1.0"
	outdir = "${baseDir}/results"
	// User Input 1: Trancript list
	transcript_list = "${baseDir}/Transcript_lists/8.Method-Expansion/transcript-list-test-100.csv"

	// Required files
	gtf = "${baseDir}/Data/GTF-Files/gencode.v26.annotation.gtf"
	genome = "${baseDir}/Data/Genome-fasta/GRCh38.p13.genome.fasta"

	// Run Tag
	tag = "31.Method-Expansion/Test-100-Events"
	
	get_cds_translate {
		gffread = "/home/bsc83/bsc83930/miniconda3/bin/gffread"
	}
	
	// PFAM required paths and params
	pfam {
		hmmscan = "${baseDir}/local-install-HMMER/hmmer-3.3.2/bin/hmmscan"
		pfam_db = "${baseDir}/local-install-PFAM/Pfam-A.hmm"
		
		sequence_evalue_thres = 1
		pfam_cpu = 1
		// PFAM Filtering params
		domain_evalue = 1e-03
		domain_score = 10
		accuracy = 0.8
		partiality = 0.9
	}

	// Visualization params
	vis = true
	vis_transcript = true // Visualisation of Transcript with its PFAM Alignment
	vis_event = true // Visualisation of AS Event

	visualisation {
		genome_id = "hg38"
		// User input 2: Event coordinates
		event_coords = "${baseDir}/Transcript_lists/8.Method-Expansion/Event-coords-test-100.csv"
		// User input 3: Events with associated transcripts
		event_transcripts = "${baseDir}/Transcript_lists/8.Method-Expansion/Event-transcripts-test-100.csv"
		cyto_band = "${baseDir}/Data/UCSC_cytoBand_hg38.txt"
		show_non_overlapping = "TRUE" // Display domains non overlapping with event coordinates ?
	}
}
