profiles {
	local {
		process.executor = 'local'
		executor {
		    name = 'local'
		    cpus = 1 
		    memory = 6.GB
		}

	process {
		cpus   =  1
		memory =  6.GB
		queue = 'normal'
		errorStrategy = 'retry'
		maxRetries = 4
		maxErrors = -1
		
		withLabel: long_running {queue = 'long'}
		}
  		}
	}
executor {
	name = 'local'
	queueSize = 4 
	pollInterval = '30 sec'	
}	

params{
	outdir = "${baseDir}/results"	
	transcript_list= "${baseDir}/Transcript_query_lists/transcript_ID_list_updated.txt"// Path to the trancript list 
	
	input_files{
		input_suppa = "/home/bsc83/bsc83930/TFM-UOC-BSC/Data/Ribosomal_proteins.AS_events.ioe.rds"
		tpm_counts = "/home/bsc83/bsc83930/TFM-UOC-BSC/Data/Ribosomal_proteins.Transcripts.tpm.rds"
		annot_gtf = "/home/bsc83/bsc83930/TFM-UOC-BSC/Data/gencode.v26.annotation.gtf"	
	}
	query_PFAM{
		evalue_thres = 10
	}
}
