profiles {
      local {
        executor {
                        name = 'local'
                        cpus = 48 // This param is only used by the local executor
                        memory = '96.GB' // This param is only used by the local executor
                        queueSize = 48 // Defines how many processes are queued at a given time
                        submitRateLimit = '5 sec' // Determines the max rate of job submission per time unit
                        pollInterval = '5 sec' // Determines how often a poll occurs to check for a process termination
        }
}

        slurm {
                executor{
                        name = 'slurm'
                       	// memory = '2G'
			queueSize = 100 //Default value = 100
                        submitRateLimit = '100/1min'
                        pollInterval = '2 sec'

                }
        }
}

// Nextflow runtime runs on top of the Java virtual machine which, by design, tries to allocate as much memory as is available.
// To avoid this, specify the maximum amount of memory that can be used by the Java VM using the -Xms and -Xmx Java flags (https://www.nextflow.io/blog/2021/5_tips_for_hpc_users.html)

env {
        NXF_OPTS="-Xms500M -Xmx2G"
}

params {
	outdir = "${baseDir}/results"
	// Path to the trancript list
	transcript_list = "${baseDir}/Transcript_lists/8.Test-Clean-Up-Code/transcript_list.txt"

	// Input files
	gtf = "${baseDir}/Data/GTF-Files/gencode.v26.annotation.gtf"
	genome = "${baseDir}/Data/Genome-fasta/GRCh38.p13.genome.fasta"

	// Run Tag
	tag = "25.Test-Clean-Up-Code"
	
	get_cds_translate {
		gffread = "/home/bsc83/bsc83930/miniconda3/bin/gffread"
	}
	
	pfam {
		hmmscan = "${baseDir}/local-install-HMMER/hmmer-3.3.2/bin/hmmscan"	
		pfam_db = "${baseDir}/local-install-PFAM/Pfam-A.hmm"
		seq_e_val_thres = 1
		dom_e_val_thres = 10
			
	}

	// Visualization params
	vis = true
	vis_transcript = true // Visualisation of Transcript with its PFAM Alignment
	vis_event = false // Visualisation of AS Event

	visualisation {
		aggregation_csv = "${baseDir}/Transcript_lists/4.Gencodev26-GRCh38-All-PC-Transcripts/AS-Events-gencodev26-PC-Isoforms.csv"
		cyto_band = "${baseDir}/Required_files/UCSC_cytoBand_hg38.txt"
	}
}
